<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php 
# RewriteRule ^(.*)/$ $1.php [L] 
</IfModule>
RewriteCond %{HTTP_HOST} ^gofeast\.io$ [OR]
RewriteCond %{HTTP_HOST} ^www\.gofeast\.io$
RewriteRule ^staking\/$ "https\:\/\/gofeast\.io\/icopanel\/" [R=301,L]

